@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@500;700&display=swap');
.container{
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #DFE4EA;
    width: 550px;
    height: 283px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;    
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cardImg{
    width: 39%;
    height: 282.5px;
    border-radius: 10px;
    margin-left: -2px;
}

.cardContainer{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.cardTitle{
    font-family: 'Roboto', sans-serif;
    margin-left: -100px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.cardCategory{
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #67676d;
    margin:0px 0px 0px -100px;
}

.cardButton{
    width: 19rem;
    height: 2.5rem;
    margin-right: 1%;
    margin-left: -100px;
    background-color:rgb(251, 139, 36) ;
    border: none;
    border-radius: 0.3125rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    font-size: 1rem;
    color:rgb(2, 48, 71);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.cardButton:hover{
    cursor: pointer;
    opacity: .9;
}

.cardLocation{
    margin-left: -100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #383B58;
    margin-top: -15px;
}

.cardDescription{
    margin-left: -100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #383B58;
    margin-right: 5%;
    margin-bottom: 10px;
}
.cardImgStar{
    width: 4%;
    height: 4%;
}

.cardImgLocation{
    width: 3%;
    height: 3%;
    margin-right: .2rem;
}

.cardMostrarMapa{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color: #219ebc;
    text-decoration: none;
}



.cardPuntajeContainer{
    font-family: 'Roboto';
    font-size: 1rem;
    color: #383B58;
    opacity: .8;
}

.cardPuntaje{
    font-size: 1rem;
    font-family: 'Roboto';
    color: #383B58;
    font-weight: 700;
}

.cardCalificacion{
    margin-left: -100px;
    margin-top: 15px;
}

.cardVerMas{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #219ebc;
}


.cardVerMas:hover{
    cursor: pointer;
    opacity: .5;
}


@media(max-width: 505px){

    .container{
        background-color: #fff;
        border: 1px solid #DFE4EA;
        width:20rem;
        height: 30rem;
        display: flex;
        margin-bottom: 15px;
        align-items: center;    
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .cardImg{
        width: 20rem;
        height: 14rem;
        border-radius: 10px;
        margin-top: -19px;
        margin-left: -1px;
    }
    
    .cardContainer{
        width: 20rem;
        /* height: 15%; */
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
          
    }
    
    .cardTitle{
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .cardCategory{
        font-family:'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        color: #67676d;
        margin-left: 15px;
        margin-top: 10px;
        
    }
    
    .cardButton{
        width: 10rem;
        height: 2rem;
        margin-left: 23%;
        margin-top: 10px;

        background-color:#8ecae6 ;
        border: none;
        border-radius: 0.3125rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
        font-size: 0.8rem;
        color:rgb(2, 48, 71);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    
    .cardButton:hover{
        cursor: pointer;
        opacity: .9;
    }
    
    .cardLocation{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        color: #383B58;
        width: 18rem;
        margin-left: 15px;
        margin-top: 10px;
    }
    
    .cardDescription{
        margin-left: 15px;
        margin-top: 10px;
        width: 18rem;
        font-size: 0.9rem;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #383B58;
        margin-bottom: 5px;
    }
    .cardImgStar{
        width: 4%;
        height: 4%;
    }
    
    .cardImgLocation{
        width: 3%;
        height: 3%;
        margin-right: .2rem;
    }
    
    .cardMostrarMapa{
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        color: #219ebc;
        text-decoration: none;
    }
    
    
    
    .cardPuntajeContainer{
        font-family: 'Roboto';
        font-size: .85rem;
        color: #383B58;
        opacity: .8;
    }
    
    .cardPuntaje{
        font-size: 0.85rem;
        font-family: 'Roboto';
        color: #383B58;
        font-weight: 700;
    }
    
    .cardCalificacion{
        margin-top: 8px;
        margin-left: 15px;
        
    }
    
    .cardVerMas{
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        color: #219ebc;
    }
    
    
    .cardVerMas:hover{
        cursor: pointer;
        opacity: .5;
    }















}

