.icons-final{
    margin: 0;
    height: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: rgb(142, 202, 230);
}


  

.icons{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.Logos{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.derechos{
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}


@media only screen and (max-width: 505px){
    .icons-final{
        height: 3rem;
        width: 38.8rem;
        margin-top: 0;
        margin-left: 0;
    }
}