.categoryProduct {
    width: 100vw;
    height: 4rem;
    background-color: rgba(15, 77, 92, 0.692);
    display: inline-block;
    
}

.envolvent {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.ubication {
    background-color: rgba(15, 77, 92, 0.164);
    margin: auto;
}
