*{
    box-sizing: border-box;
    margin-left: 0; 
    margin-right: 0;   
}

.space{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spaceCategory{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:15px;  
}

.bgRecomendations{
    background-color: #2020201a;
}
