*{
    box-sizing: border-box;
}

.space{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spaceCategory{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:15px;
    
}