*{
    box-sizing: border-box;
    margin-left: 0; 
    margin-right: 0;  
    margin-bottom: 0;
    
}

html,body{
    height: 100%;
}

.space{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spaceCategory{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:15px;  
    height: 100%;
}

.spaceCategoryProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;  
    height: 100%;
}




.bgRecomendations{
    background-color: #2020201a; 
}

.bgFilter{
    background-color: #2020201a;
    height: 100%;
}

.margin{
    margin: 0;
}


